@mixin input-field {


    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    padding-bottom : 10px;
    margin-bottom : 1.2rem;
    margin-top : 1.2rem;


}